<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добредојдовте на KupiProdaj, <%= @user.full_name %></h1>
    <p>
      Вие успешно се регистриравте.
    </p>
    <p>Ви благодариме што се приклучивте!</p>
  </body>
</html>